@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --radius: 1rem;
    --study-primary: 25 39% 39%;
    --study-medium: 29 34% 49%;
    --study-light: 33 46% 91%;
    --study-background: 35 44% 96%;
    --study-dark: 20 28% 19%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased;
    background-color: #FAF6F1;
  }
}

.prose-study {
  --tw-prose-body: #3E2C23;
  --tw-prose-headings: #3E2C23;
  --tw-prose-links: #8B5E3C;
  --tw-prose-bold: #3E2C23;
  --tw-prose-counters: #A67C52;
  --tw-prose-bullets: #A67C52;
  --tw-prose-hr: #F3E8DC;
  --tw-prose-quotes: #8B5E3C;
  --tw-prose-quote-borders: #F3E8DC;
  --tw-prose-captions: #A67C52;
  --tw-prose-code: #3E2C23;
  --tw-prose-pre-code: #F3E8DC;
  --tw-prose-pre-bg: #3E2C23;
  --tw-prose-th-borders: #F3E8DC;
  --tw-prose-td-borders: #F3E8DC;
}